@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;700&family=Shadows+Into+Light&display=swap');

body {
    margin: 0 auto;
    max-width: 550px;
    min-width: 300px;
    background-color: rgb(247, 246, 245);
    font-family: Roboto;
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    color: #393734;
    font-family: 'Dancing Script';
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    color: rgb(34, 73, 34);
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.title-blog {
    text-align: center;
    margin: 45px auto;
}

.whole-content {
    background-color: #eaeaea;
    padding: 25px;
    max-width: 500px;
}

a:link {
    color: rgb(1, 79, 1);
}

a:hover, a:focus {
    color: rgb(20, 43, 20);
}

a:visited {
    color: darkkhaki;
}

a:active {
    color: antiquewhite;
}

img {
    width:100%;
    height: auto;
}